.adminButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    width: 220px;
    height: 160px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    font-family: inherit;
    text-decoration: none;
}

.adminButton:hover{
    background-color: var(--accent);
}
