@font-face{
   font-family: 'Brand';
  src: url('../ITC Eras Std Bold.otf') format('opentype');
}

html{
  background-color: #010f29;
  color: #FFFFFF;
}

header{
  font-family: 'Brand';
  text-align: left;
}

.brand{
  color: rgb(248, 68, 128);
}
