@font-face{
   font-family: 'Brand';
  src: url('../ITC Eras Std Bold.otf') format('opentype');
}

a {
  text-decoration: none;
  color: white;
}

body{
  background-color: #000814;
  color: #FFFFFF;
  margin: 0;
}

header{
  position: sticky;
  top: 0;
  font-family: 'Brand';
  text-align: left;
  background-color: #010f29;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header h1{
  font-size: 1.5rem;
}


.brand{
  color: rgb(248, 68, 128);
}

.sidebar{
  width: 220px;
  background-color: #010f29; 
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 1.5rem 1.5rem 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left:0;
  align-self: flex-start;
  height: 100vh;
}

.menu{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menu:hover{
  color:rgb(248, 68, 128);
}

.highlight:hover{
  color:rgb(248, 68, 128);
}

.sidebar h1{
  font-family: 'Brand';
  color: white;
  font-size: 0.5rem;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

